www.caonmd.com {
  redir https://caonmd.com{uri} permanent
}

caonmd.com {
  # 先处理 /home 全部路径
  @home path /home*
  handle @home {
    uri strip_prefix /home
    reverse_proxy 10.24.0.3:8080
  }

  # 其他所有路径走欢迎页(8070)
  handle {
    reverse_proxy 10.24.0.3:8070
  }

  # 防混合内容（可选但推荐）
  header {
    Content-Security-Policy "upgrade-insecure-requests"
  }
}

blog.caonmd.com {
  reverse_proxy 10.24.0.3:8090
}