www.caonmd.com {
  redir https://caonmd.com{uri} permanent
}

caonmd.com {
  # ① 先把 /home 精确路径重定向到 /home/（否则相对资源会 404）
  @home_exact path /home
  redir @home_exact /home/ 301

  # ② 处理 /home 及其子路径，并在转发前自动去掉 /home 前缀
  handle_path /home* {
    reverse_proxy 10.24.0.3:8080
  }

  # ③ 其余路径全部走欢迎页（8070）
  handle {
    reverse_proxy 10.24.0.3:8070
  }

  # 可选：把 http 资源升级为 https，避免混合内容
  header {
    Content-Security-Policy "upgrade-insecure-requests"
  }

  # 可选：开访问日志方便排查
  log {
    output file /data/access.log
  }
}

blog.caonmd.com {
  reverse_proxy 10.24.0.3:8090

  header {
    Content-Security-Policy "upgrade-insecure-requests"
  }

  log {
    output file /data/access.log
  }
}

status.caonmd.com {
  redir * /status/likaikai 301
  reverse_proxy 10.24.0.3:3001
  header {
    Content-Security-Policy "upgrade-insecure-requests"
  }

  log {
    output file /data/access.log
  }
}

wiki.caonmd.com {
  reverse_proxy 10.24.0.3:3003
  header {
    Content-Security-Policy "upgrade-insecure-requests"
  }

  log {
    output file /data/access.log
  }
}
